snippet code "Code block" b
\`\`\`${1:lang}
${2:${VISUAL}}
\`\`\`
endsnippet

snippet mdle "markdownlint enable" b
<!-- markdownlint-enable MD0$0 -->
endsnippet

snippet mdld "markdownlint disable" b
<!-- markdownlint-disable MD0$0 -->
endsnippet
